<div class="list-wrapper px-2" data-list-id="{{this.id}}">
  <div
    class="card bg-light-subtle rounded-3"
    style="width: 270px; max-height: 90vh"
  >
    {{! Card Header }}
    <div
      class="card-header border-0 bg-transparent d-flex justify-content-between align-items-center py-2"
    >
      <h6 class="fw-bold m-0 text-dark">{{this.name}}</h6>
    </div>
    {{! Card Body }}
    <div class="card-body p-2 overflow-y-auto" style="scrollbar-width: thin;">

      {{#each this.tasks}}
        {{!-- Aca una card para las tareas --}}
        {{> card}}
      {{/each}}
    </div>
    {{! card footer }}
    <div class="card-footer border-0 bg-transparent p-2">

      <button class="btn btn-sm w-100 text-start text-secondary hover-dark add-new-task">
        <i class="bi bi-plus-lg">Nueva tarea</i>
      </button>
    </div>
  </div>
</div>