nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href="/") MiEmpresa
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#nav")
      span.navbar-toggler-icon
    #nav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href="/") Inicio
        li.nav-item
          a.nav-link(href="/quienes-somos") Quiénes Somos
        li.nav-item
          a.nav-link(href="/proyectos") Proyectos
        li.nav-item
          a.nav-link(href="/trabaja-con-nosotros") Únete
        li.nav-item
          a.nav-link(href="/contacto") Contacto
