<h1>{{title}}</h1>
{{! TODO : Incluir un formulario en cada columna /lista }}

{{!-- {{>form}} --}}

<div class="d-flex flex-column vh-100">

  <div class="flex-grow-1 overflow-x-auto d-flex align-items-start p-3">

    {{#each board}}
      {{! Aca va una partial List }}
      {{>list}}
    {{/each}}

    <div class="add-list-wrapper px-2">
      <button class="btn btn-primary add-new-list">
        <i class="bi bi-plus-lg"> Añadir otra lista</i>
      </button>
    </div>
  </div>
</div>