<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KanbanPro</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1><font color="#FF0000">E</font><font color="#FF8000">s</font><font color="#4040FF">t</font><font color="#007940">o</font><font color="#4040FF"> </font><font color="#A000C0">e</font><font color="#FF0000">s</font><font color="#FF8000"> </font><font color="#4040FF">l</font><font color="#007940">a</font><font color="#4040FF">y</font><font color="#A000C0">o</font><font color="#FF0000">u</font><font color="#FF8000">t</font><font color="#FFFF00">.</font><font color="#007940">H</font><font color="#4040FF">B</font><font color="#A000C0">S</font></h1>
    </header>
    <main class="container-fluid">

      {{{body}}}

    </main>

    <script src="/js/app.js"></script>
  </body>
</html>