extends layout
block content
  .container.py-5.text-center
    h1.display-4 Bienvenido a MiEmpresa
    p.lead Innovación y tecnología empresarial
    a.btn.btn-primary.btn-lg.mt-3(href="/proyectos") Ver Proyectos
